<head>
<title>$NAME's History</title>
<style>
details details {
  margin-left: 15px;
}
img {
  max-width: 320px;
  max-height: 180px;
}
video {
  max-width: 480px;
  max-height: 270px;
</style>
</head>
History from $NAME between $EARLIEST and $LATEST,<br>
on devices $USED_DEVICES:
<font color="red" $HIDDEN_WARNING><br>Could not find current history for $UNUSED_DEVICES</font>
